#sketchContainer {
    display: flex;
    flex-wrap: no-wrap;
    width: 700px;
    height: 700px;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gridBox {
    flex: 1;
}

.gridBox:hover {
    background-color: black;
}
